html
	head 
		meta(charset='utf8')

	body
		h2 Пользователь #{userLogin} создал заказ
		h4 Серийный номер #{serial}
		
		table(border=1, cellpadding=10)
			thead
				tr
					td(colspan=3) Заказанные товары					
			tbody
				each line in query
					tr
						td= line[0]
						td= line[1]
						if(line[3])
							td(style='color:red')= line[2]
						else
							td= line[2]


